* html {
	background-attachment: fixed;
}
* html body {
	background-attachment: fixed;
}
html {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
body {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
div {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
span {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
applet {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
object {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
iframe {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
h1 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
h2 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
h3 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
h4 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
h5 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
h6 {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
p {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
blockquote {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
pre {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
a {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
abbr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
acronym {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
address {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
big {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
cite {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
code {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
del {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
dfn {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
em {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
img {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
ins {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
kbd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
q {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
s {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
samp {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
small {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
strike {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
strong {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
sub {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
sup {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
tt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
var {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
b {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
u {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
i {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
center {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
dl {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
dt {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
dd {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
ol {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
ul {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
li {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
form {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
label {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
table {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
caption {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
tbody {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
tfoot {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
thead {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
tr {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
th {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
td {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; font-style: normal; text-decoration: none;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
q {
	quotes: none;
}
blockquote::before {
	content: none;
}
blockquote::after {
	content: none;
}
q::before {
	content: none;
}
q::after {
	content: none;
}
:focus {
	outline: 0px;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
input {
	font-size: 12px; vertical-align: text-bottom;
}
body {
	color: rgb(51, 51, 51); line-height: 1.6; font-family: Arial, Helvetica, sans-serif, "ו"; font-size: 12px;
}
select {
	font: 100%/normal Tahoma, Helvetica, Arial, sans-serif; font-size-adjust: none; font-stretch: normal;
}
input {
	font: 100%/normal Tahoma, Helvetica, Arial, sans-serif; font-size-adjust: none; font-stretch: normal;
}
button {
	font: 100%/normal Tahoma, Helvetica, Arial, sans-serif; font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 100%/normal Tahoma, Helvetica, Arial, sans-serif; font-size-adjust: none; font-stretch: normal;
}
a {
	color: rgb(18, 97, 215);
}
a:hover {
	color: rgb(255, 102, 0);
}
.clear {
	width: 0px; height: 0px; overflow: hidden; clear: both; display: block; visibility: hidden;
}
.clearfix::after {
	height: 0px; clear: both; display: block; content: "\0020";
}
.clearfix {
	_zoom: 1;
}
* + html .clearfix {
	overflow: hidden;
}
.layout {
	margin: 0px auto; width: 980px;
}
.m5 {
	margin: 5px;
}
.mt5 {
	margin-top: 5px;
}
.mr5 {
	margin-right: 5px;
}
.mb5 {
	margin-bottom: 5px;
}
.ml5 {
	margin-left: 5px;
}
.m10 {
	margin: 10px;
}
.mr10 {
	margin-right: 10px;
}
.mb10 {
	margin-bottom: 10px;
}
.ml10 {
	margin-left: 10px;
}
.mt10 {
	margin-top: 10px;
}
.mt15 {
	margin-top: 15px;
}
.m20 {
	margin: 20px;
}
.mt20 {
	margin-top: 20px;
}
.mt40 {
	margin-top: 40px;
}
.mt50 {
	margin-top: 50px;
}
.mr20 {
	margin-right: 20px;
}
.mb20 {
	margin-bottom: 20px;
}
.ml20 {
	margin-left: 20px;
}
.p10 {
	padding: 10px;
}
.p20 {
	padding: 20px;
}
.pt10b {
	border: currentColor !important; border-image: none !important; padding-top: 10px !important; padding-bottom: 0px !important;
}
.pt10 {
	padding: 10px 0px 0px;
}
.pl20 {
	padding-left: 20px;
}
.pl30 {
	padding-left: 30px;
}
.pb20 {
	padding-bottom: 20px;
}
.pb40 {
	padding-bottom: 40px;
}
button {
	margin: 0px; font-size: 100%; vertical-align: middle;
}
input {
	margin: 0px; font-size: 100%; vertical-align: middle;
}
select {
	margin: 0px; font-size: 100%; vertical-align: middle;
}
textarea {
	margin: 0px; font-size: 100%; vertical-align: middle;
}
button {
	line-height: normal;
}
input {
	line-height: normal;
}
button {
	cursor: pointer; -webkit-appearance: button;
}
html input[type='button'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='reset'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='submit'] {
	cursor: pointer; -webkit-appearance: button;
}
label {
	cursor: pointer;
}
select {
	cursor: pointer;
}
button {
	cursor: pointer;
}
input[type='button'] {
	cursor: pointer;
}
input[type='reset'] {
	cursor: pointer;
}
input[type='submit'] {
	cursor: pointer;
}
input[type='radio'] {
	cursor: pointer;
}
input[type='checkbox'] {
	cursor: pointer;
}
input[type='search'] {
	box-sizing: content-box; -webkit-appearance: textfield; -webkit-box-sizing: content-box; -moz-box-sizing: content-box;
}
textarea {
	overflow: auto; vertical-align: top;
}
.show {
	display: block;
}
.hide {
	display: none;
}
.in_br_cont_c {
	color: rgb(204, 238, 255);
}
.in_br_cont_c {
	color: rgb(204, 238, 255);
}
.in_br_cont_c {
	color: rgb(204, 238, 255);
}
.in_br_cont_c {
	color: rgb(204, 238, 255);
}
.in_br_cont_c {
	color: rgb(204, 238, 255);
}
.in_br_cont_c {
	color: rgb(204, 238, 255);
}
.in_br_cont_c {
	color: rgb(204, 238, 255);
}
.in_br_cont_c {
	color: rgb(204, 238, 255);
}
.in_br_cont_c {
	color: rgb(204, 238, 255);
}
.in_br_cont_c {
	color: rgb(204, 238, 255);
}
.in_br_cont_t2 h3 {
	color: rgb(255, 118, 56);
}
